# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
#black_friday.columns

In [4]:
#black_friday.head(3)

In [5]:
estrutura = pd.DataFrame({'nomes' : black_friday.columns, 'tipos' : black_friday.dtypes, 'NA': black_friday.isna().sum()})
#estrutura

In [6]:
#Criando tabela auxiliar
outrodf = black_friday[black_friday['Product_Category_2'].isna()]

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [7]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [8]:
def q2():
    #return black_friday[(black_friday['Gender']=='F') & (black_friday['Age']=='26-35')]['User_ID'].nunique()
    return len(black_friday[(black_friday['Gender']=='F') & (black_friday['Age']=='26-35')]['User_ID'])

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [9]:
def q3():
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [10]:
def q4():
    return estrutura['tipos'].nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [11]:
def q5():
    #contagem_nulo = 0
    #for i in range(len(black_friday)):
    #    if pd.isnull(black_friday['Product_Category_2'][i]) or pd.isnull(black_friday['Product_Category_3'][i]):
    #        contagem_nulo = contagem_nulo+1
    return 1 - (len(black_friday.dropna())/len(black_friday))

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [12]:
def q6():
    return estrutura['NA'].max()

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [13]:
def q7():
    return black_friday['Product_Category_3'].value_counts().idxmax()

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [14]:
def q8():
    black_friday['PurchaseN']=(black_friday['Purchase']-black_friday['Purchase'].min())/(black_friday['Purchase'].max() - black_friday['Purchase'].min())
    return black_friday['PurchaseN'].mean()

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [15]:
def q9():
    black_friday['PurchaseP']=(black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std()
    return black_friday[black_friday['PurchaseP'].between(-1,1)].shape[0]

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [16]:
def q10():
    return outrodf['Product_Category_2'].isna().equals(outrodf['Product_Category_3'].isna())