In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("desafio1.csv")
df.head(3)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0

In [3]:
df['estado_residencia'].unique()

array(['SC', 'RS', 'PR'], dtype=object)

In [53]:
df.groupby('estado_residencia')['pontuacao_credito'].describe()

,count,mean,std,min,25%,50%,75%,max
estado_residencia,,,,,,,,
PR,1731.0,648.961294,98.607186,350.0,581.0,650.0,719.5,850.0
RS,1750.0,651.105143,95.136598,350.0,585.0,650.0,717.0,850.0
SC,3519.0,649.537653,97.233493,359.0,581.0,653.0,717.0,850.0

In [49]:
#media
df.groupby('estado_residencia')['pontuacao_credito'].mean()

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [50]:
#mediana
df.groupby('estado_residencia')['pontuacao_credito'].median()

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [54]:
#desvio padrao
df.groupby('estado_residencia')['pontuacao_credito'].std()

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [48]:
#moda
for i in range(len(df['estado_residencia'].unique())):
    novabase = df[df['estado_residencia'] == df['estado_residencia'].unique()[i]]
    moda = novabase['pontuacao_credito'].mode()
    print(df['estado_residencia'].unique()[i],"  ",moda[0])

SC    850
RS    850
PR    850